<%= erb :_header %>

<h2>Welcome home!</h2>

<% @questions.each do |question| %>
  <div id="question-summary">
    <div id="question-title"><a id="title-link" href ="/questions/<%= question.id%>"><%= question.title %></a></div>
    <div id="number-answers"><%=question.answers.length %> answers</div>
    <div id="number-votes"><%=question.votes.length %> votes</div>
     <div id="question-author"><span>Asked by </span><a id="author-link" href ="/questions/<%= question.user.id%>"><%=question.user.first_name %></a></div
    <div id="question-date">Created on <%=question.created_at.strftime("%m/%d/%Y") %></div>
  </div>
<% end %>


<% if current_user %>
  <a href="/questions/new" class="bottom-right-button">Ask a question</a>
<% else %>
  <a href="/users/new" class="bottom-right-button">or Sign up (even better!)</a>
  <a href="/users/login" class="bottom-right-button">Login to ask a question</a>

<%end%>
