<%= erb :_header %>



<a href="/users/login"> Login </a>

<br><a href="/users/new">
Register </a>

<h2>Welcome home!</h2>

<ul>
<% @questions.each do |question| %>
  <li><span id="question-title"><a href ="/questions/<%= question.id%>"><%= question.title %></a></span></li>
  <li><span id="question-author"><a href ="/questions/<%= question.user.id%>">Posted by <%=question.user.first_name %></a></span></li>
  <li><span id="number-answers"><%=question.answers.length %> answers</span></li>
  <li><span id="number-votes"><%=question.votes.length %> votes</span></li>
  <li><span id="question-date">Created at <%=question.created_at.strftime("%m/%d/%Y") %></span></li>
<% end %>
</ul>


  <!-- BELOW: coordinate route with slice 3 -->
<% if @current_user %>
  <button href="/question/new">Ask a question</button>
<% else %>
  <!-- BELOW: coordinate routes with slice 1 -->
  <button id="login-button" href="/users/login">Login to ask a question</button>
    <span>or</span>
  <button id="sign-up-button" href="/users/signup">Sign up (event better)</button>
<%end%>
