<section id="question-container" class='clear'>
  <div id="question-header">
    <p>
      <div class="col-md-2"></div>
    <span id="question-title"><%= @question.title %></span>
    <%  %>
    <span id="question-author"><%= @question.user.first_name%></span>
    <span id="question-date">Created at <%= @question.created_at.strftime("%m/%d/%Y") %></span>
    </p>
    <!-- BELOW: coordinate route link with slice 4  -->
    <div class="col-md-2"></div>
    Total votes: <span id="total-question-votes"><%= @question.all_votes %></span>


    <% if logged_in? %>
    <a href='/questions/<%=@question.id %>/up_vote' class="question-vote"><button type="button" class="btn btn-success btn-xs">&uarr; vote</button></a>
      <a href='/questions/<%=@question.id %>/down_vote' class="question-vote"><button type="button" class="btn btn-danger btn-xs">&darr; vote</button></a>
    <% end %>
  </div>
  <div id="question-description">
    <p><%= @question.description %></p>
  </div>
</section>

<!-- Placeholder -->

<h3 class='h3-style'>Answers</h3>

<section id="answer-container">
 <ul id="answers">
 <% @question.answers.each do |answer| %>
 <div class="col-md-2"></div>
    <article id="answer<%= answer.id %>">
      <li>
        <span div="answer-description"><%= answer.description%></span>
        <span div="answer-date">Created at <%= answer.created_at.strftime("%m/%d/%Y") %></span>


    <%= erb :_answer, locals: { answer: answer} %>


        <!-- BELOW: coordinate route link with slice 4  -->

        Total votes: <span id="total-answer-votes"><%= answer.all_votes %></span>


        <% if logged_in? %>
        <a href='/answers/<%=answer.id %>/up_vote' class="answer-vote"><button type="button" class="btn btn-success btn-xs">&uarr; vote</button></a>
        <a href='/questions/<%=@question.id %>/down_vote' class="answer-vote"><button type="button" class="btn btn-danger btn-xs">&darr; vote</button></a>
        <% end %>
        <br></br>
      </li>
    </article>
  <% end %>
 </div>
</section>

<% if logged_in? %>

  <div class="col-md-2"></div><div class="col-md-8"><h3>Post New Answer</h3></div><div class="col-md-2"></div>
  <div class="col-md-2"></div>
  <div class="col-md-8">
  <div class="form-group">
  <section id="new-answer-container">
    <form method="post" action="/questions/<%=@question.id%>/answers">
      <textarea class="form-control" rows="3" name="description" placeholder="Post your answer here"></textarea>
      <input type="submit" class="btn btn-info" value="Submit">
    </form>
  </section>
</div></div>
<div class="col-md-2"></div>
<% end %>
