<section id="question-container" class='clear'>
  <div id="question-header">
    <p>
    <span id="question-title"><%= @question.title %></span>
    <%  %>
    <span id="question-author"><%= @question.user.first_name%></span>
    <span id="question-date">Created at <%= @question.created_at.strftime("%m/%d/%Y") %></span>
    </p>
    <!-- BELOW: coordinate route link with slice 4  -->
    Total votes: <span id="total-question-votes"><%= @question.all_votes %></span>
    <% if logged_in? %>
      <a href='/questions/<%=@question.id %>/vote' class="vote-question-button">Up Vote</a>
    <% end %>
  </div>
  <div id="question-description">
    <p><%= @question.description %></p>
  </div>
</section>

<!-- Placeholder -->

<h3>Answers</h3>
<section id="answer-container">
 <ul id="answers">
 <% @question.answers.each do |answer| %>
    <article id="answer<%= answer.id %>">
      <li>
        <span div="answer-description"><%= answer.description%></span>
        <span div="answer-date">Created at <%= answer.created_at.strftime("%m/%d/%Y") %></span>

        <!-- BELOW: coordinate route link with slice 4  -->
        Total votes: <span id="total-answer-votes"><%= answer.all_votes %></span>
        <% if logged_in? %>
          <a href='/answers/<%=answer.id %>/vote' class="vote-answer-button">Up Vote!</a>
        <% end %>
      </li>
    </article>
  <% end %>
 </div>
</section>

<% if logged_in? %>
  <h3>Post New Answer</h3>
  <section id="new-answer-container">
    <form method="post" action="/questions/<%=@question.id%>/answers">
      <input type="text" name="description">
      <input type="submit" value="Submit">
    </form>
  </section>
<% end %>
